{% extends base.html%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">To Do Lists</a>
                </li>
                <li>
                    {% comment %} <a href="{% url 'todo_detail' todo.pk%}">Detail</a> {% endcomment %}
                </li>
              </ul>
              </main>
  </body>

</html>
