{% extends base.html%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
   
    <header>
      <main>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">To Do Lists</a>
                </li>
                <li> <a href="{% url 'todos_delete'%}"> Delete List </a></li>
                <li> <a href="{% url 'todos_edit'%}"> Edit List </a></li>
              </ul>
            </nav>
          </header>
      </main>
  </body>

</html>
