{%extends "base.html"%} {%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <h1>To Do Lists</h1>
      <a href="{% url 'todos_new'%}">New List</a>
      {%for todos in todo_list %}
      <div>
        <a href="{% url 'todos_detail' todos.pk%}">List Details</a>

        <a href="{% url 'todos_edit'%}">Edit</a>

        {%endfor%}
      </div>
    </main>
  </body>
</html>
