{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
    {% comment %} <link rel="stylesheet" href="style.css" /> {% endcomment %}
  </head>
 
  <body>
    <main>
    <header>
        <nav>
            <ul>
              <li>
                    <a href="{% url 'home' %}">To Do Lists</a>
              </li>
              <li>
                    <a href="{% url 'todos_detail' %}">Detail</a>
              </li> 
              <li>
                    <a href="{% url 'todos_new' %}">Make New List</a>
              </li>
              {% comment %} <li>
                    <a href="{% url 'items_new' %}">New Item</a> 
              </li>  {% endcomment %}
              </ul
          </nav>
              </main>
  </body>

</html>


